@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
@import url('components/navbar.css');
@import url('components/darkmode.css');
@import url('components/block.css');
@import url('components/profil.css');
@import url('components/login.css');
@import url('components/sing-up.css');
@import url('components/parametre.css');
@import url('components/modal.css');
@import url('components/supprime.css');
@import url('components/card.css');

:root{
  --bg:#fff;
  --text:#121212;
  --bodycard: #ead7d7;
 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body{
    background-color: #fff; 
  }









  
